<app-card>
  <div>
    <!-- header -->
    <div class="flex min-h-16 items-center">
      <div class="flex min-h-4 items-center">
        <!-- img -->
        <div class="mr-4">
          <app-avatar [username]="comment.user.username" />
        </div>
        <!-- username -->
        <span class="text-dark-blue mr-2 font-normal"> {{comment.user.username}} </span>
        <!-- label -->
        @if(currentUser?.username === comment.user.username) {
        <div class="bg-moderate-blue mr-4 rounded-sm px-1.5 font-normal leading-normal text-white">you</div>
        }
        <!-- date -->
        <span>{{comment.createdAt}}</span>
      </div>
    </div>

    <!-- content -->
    <div>
      <p>
        @if (comment.replyingTo) {
        <span class="text-moderate-blue font-medium"> {{"@"}}{{comment.replyingTo}} </span>
        } {{comment.content}}
      </p>
    </div>

    <!-- footer -->
    <div class="flex h-full min-h-16 items-center justify-between">
      <!-- button -->
      <div class="bg-very-light-gray flex min-h-10 items-center justify-between rounded-lg">
        <button class="min-h-10 px-2.5">
          <img src="assets/images/icon-plus.svg" height="14" width="14" />
        </button>
        <div class="flex min-w-8 items-center justify-center">
          <span class="text-moderate-blue font-medium">{{comment.score}}</span>
        </div>
        <button class="min-h-10 px-2.5">
          <img src="assets/images/icon-minus.svg" height="14" width="14" />
        </button>
      </div>
      <!-- reply -->
      @if(currentUser?.username === comment.user.username) {
      <div class="flex justify-center">
        <div>
          <button
            data-modal-target="deleteModal"
            data-modal-toggle="deleteModal"
            class="flex min-w-16 items-center justify-center"
          >
            <img src="assets/images/icon-delete.svg" height="12" width="14" />
            <span class="text-soft-red ml-2 font-medium">Delete</span>
          </button>

          <app-dialog header="Delete Comment"> hello </app-dialog>
        </div>
        <div class="ml-4">
          <button class="flex min-w-16 items-center justify-center">
            <img src="assets/images/icon-edit.svg" height="12" width="14" />
            <span class="text-moderate-blue ml-2 font-medium">Edit</span>
          </button>
        </div>
      </div>
      } @else {
      <div>
        <button class="flex min-w-16 items-center justify-center">
          <img src="assets/images/icon-reply.svg" height="12" width="14" />
          <span class="text-moderate-blue ml-2 font-medium">Reply</span>
        </button>
      </div>
      }
    </div>
  </div>
</app-card>
