<app-card>
  <div class="grid auto-cols-max grid-flow-col auto-rows-min grid-cols-3 sm:grid-cols-[min-content_1fr]">
    <!-- header -->
    <div class="col-span-3 col-start-1 self-start sm:col-start-2 sm:col-end-3">
      <div class="flex items-center">
        <!-- img -->
        <div class="mr-4">
          <app-avatar [username]="comment.user.username" />
        </div>
        <!-- username -->
        <span class="text-dark-blue mr-2 font-normal"> {{comment.user.username}} </span>
        <!-- label -->
        @if(currentUser?.username === comment.user.username) {
        <div class="bg-moderate-blue mr-4 rounded-sm px-1.5 font-normal leading-normal text-white">you</div>
        }
        <!-- date -->
        <span>{{comment.createdAt}}</span>
      </div>
    </div>

    <!-- content -->
    <div class="col-span-3 col-start-1 row-start-2 mt-4 max-w-[618px] leading-6 sm:col-span-2 sm:col-start-2">
      <p>
        @if (comment.replyingTo) {
        <span class="text-moderate-blue font-medium"> {{"@"}}{{comment.replyingTo}} </span>
        } {{comment.content}}
      </p>
    </div>

    <!-- counter -->
    <div class="row-start-3 mt-6 self-start sm:col-start-1 sm:row-span-3 sm:row-start-1 sm:mr-6 sm:mt-0">
      <div
        class="bg-very-light-gray flex h-10 w-24 items-center justify-between rounded-lg sm:h-24 sm:w-10 sm:flex-col"
      >
        <button class="min-h-10 px-2.5">
          <img src="assets/images/icon-plus.svg" height="14" width="14" />
        </button>
        <div class="flex min-w-8 items-center justify-center">
          <span class="text-moderate-blue font-medium">{{comment.score}}</span>
        </div>
        <button class="min-h-10 px-2.5">
          <img src="assets/images/icon-minus.svg" height="14" width="14" />
        </button>
      </div>
    </div>

    <!-- buttons -->
    <div class="col-span-2 col-start-2 row-start-3 h-10 self-end sm:col-start-3 sm:row-start-1 sm:h-full">
      @if(currentUser?.username === comment.user.username) {
      <div class="flex h-full items-center justify-end">
        <div>
          <button
            data-modal-target="deleteModal"
            data-modal-toggle="deleteModal"
            class="flex min-w-16 items-center justify-center"
          >
            <img src="assets/images/icon-delete.svg" height="12" width="14" />
            <span class="text-soft-red ml-2 font-medium">Delete</span>
          </button>

          <app-dialog header="Delete Comment">
            <div app-dialog-content>
              Are you sure you want to delete this comment? This will remove the comment and can’t be undone.
            </div>
            <div class="flex items-center" app-dialog-footer>
              <div class="mr-3">
                <app-button buttonText="No, cancel" buttonType="secondary" />
              </div>
              <app-button buttonText="Yes, delete" buttonType="destructive" />
            </div>
          </app-dialog>
        </div>
        <div class="ml-4">
          <button class="flex min-w-16 items-center justify-center">
            <img src="assets/images/icon-edit.svg" height="12" width="14" />
            <span class="text-moderate-blue ml-2 font-medium">Edit</span>
          </button>
        </div>
      </div>
      } @else {
      <div class="flexh-full items-center justify-end">
        <button class="flex min-w-16 items-center justify-center">
          <img src="assets/images/icon-reply.svg" height="12" width="14" />
          <span class="text-moderate-blue ml-2 font-medium">Reply</span>
        </button>
      </div>
      }
    </div>
  </div>
</app-card>
