@if (commentData$ | async; as commentData) {
<ul>
  @for (comment of commentData.comments; track comment.id) {
  <li class="mb-4 md:mb-5">
    <app-comment [comment]="comment" [currentUser]="commentData.currentUser" />
    <div class="border-light-gray mt-4 border-l-2 md:ml-10 md:mt-5">
      <ul>
        @for(reply of comment.replies; track reply.id) {
        <li class="mb-4 pl-4 md:mb-5 md:pl-10">
          <app-comment [comment]="reply" [currentUser]="commentData.currentUser" (deleteComment)="removeComment($event)" />
        </li>
        }
      </ul>
    </div>
  </li>
  }
</ul>

<app-card>
  <app-comment-composer [currentUser]="commentData.currentUser" />
</app-card>

} @else {
<p>No data available</p>
}
