<app-card>
  <label class="hidden" for="comment-composer">Add a comment</label>
  <div class="grid grid-cols-2 sm:grid-cols-[max-content_1fr]">
    <div class="col-span-2 mb-4 sm:col-span-1 sm:col-start-2 sm:row-start-1 sm:mx-4 sm:mb-0">
      <textarea
        placeholder="Add a comment..."
        class="border-light-gray placeholder-grayish-blue text-grayish-blue min-h-24 w-full rounded-lg border bg-white p-3"
        name="comment-composer"
      ></textarea>
    </div>

    <div class="flex h-8 w-8 items-center justify-start sm:col-start-1 sm:row-start-1 sm:h-10 sm:w-10 sm:items-start">
      <app-avatar [username]="currentUser?.username" />
    </div>

    <div class="flex justify-end sm:col-start-3 sm:row-start-1">
      <app-button [buttonText]="buttonText" buttonType="primary" />
    </div>
  </div>
</app-card>
