<div
  class="grid grid-cols-2 sm:grid-cols-[max-content_1fr]"
  [ngClass]="{'sm:grid-rows-[max-content_1fr]': isEdit == true}"
>
  <div
    class="col-span-2 mb-4 sm:col-span-1 sm:col-start-2 sm:row-start-1 sm:mb-0"
    [ngClass]="{'sm:mx-4': isEdit == false}"
  >
    <form [formGroup]="commentForm" (ngSubmit)="handleSubmit()">
      <label for="comment-composer">
        <span class="hidden">Add a comment</span>
        <textarea
          [placeholder]="placeholderText"
          class="border-light-gray placeholder-grayish-blue text-grayish-blue min-h-24 w-full rounded-lg border bg-white p-3"
          [ngClass]="{'min-h-28': isEdit}"
          formControlName="body"
          required
        ></textarea>
      </label>
    </form>
  </div>

  <div
    *ngIf="!isEdit"
    class="flex h-8 w-8 items-center self-center sm:col-start-1 sm:row-start-1 sm:h-10 sm:w-10 sm:items-start"
  >
    <app-avatar [username]="currentUser?.username" />
  </div>

  <div
    class="flex justify-end"
    [ngClass]="{'sm:col-start-3 sm:row-start-1': isEdit == false, 'col-start-2 sm:mt-4': isEdit == true}"
  >
    <app-button
      [buttonText]="buttonText"
      buttonType="primary"
      [clickHandler]="handleSubmit.bind(this)"
      [disabled]="false"
    />
  </div>
</div>
<div
  *ngIf="(commentForm.touched && !commentForm.pristine && body?.errors?.['required'] || body?.errors?.['minlength'])"
  class="text-soft-red mt-2 inline-flex rounded-full bg-red-100 px-2 py-1 text-xs"
>
  <p *ngIf="body?.errors?.['required']">Comment is required</p>
  <p *ngIf="body?.errors?.['minlength']">Comment must be at least 4 characters long</p>
</div>
