<hlm-alert-dialog>
  <button brnAlertDialogTrigger class="group flex min-w-16 items-center justify-center">
    <svg width="12" height="14" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M1.167 12.448c0 .854.7 1.552 1.555 1.552h6.222c.856 0 1.556-.698 1.556-1.552V3.5H1.167v8.948Zm10.5-11.281H8.75L7.773 0h-3.88l-.976 1.167H0v1.166h11.667V1.167Z"
        fill="#ED6368"
        class="group-hover:fill-pale-red duration-150 ease-in-out"
      />
    </svg>
    <span class="text-soft-red group-hover:text-pale-red ml-2 font-medium duration-150 ease-in-out">Delete</span>
  </button>
  <hlm-alert-dialog-content *brnAlertDialogContent="let ctx">
    <hlm-alert-dialog-header>
      <h3 hlmAlertDialogTitle>Delete comment</h3>
      <p hlmAlertDialogDescription>
        Are you sure you want to delete this comment? This will remove the comment and can’t be undone.
      </p>
    </hlm-alert-dialog-header>
    <hlm-alert-dialog-footer>
      <app-button buttonText="No, Cancel" buttonType="secondary" (click)="ctx.close()" class="mr-3.5" />
      <app-button buttonText="Yes, Delete" buttonType="destructive" [clickHandler]="deleteComment" (click)="ctx.close()" />
    </hlm-alert-dialog-footer>
  </hlm-alert-dialog-content>
</hlm-alert-dialog>
